
<div class=" container ae-grid au-xs-ta-center au-mb-4 animated fadeIn">





<div class="ae-grid au-pt-2">
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <img src="../assets/img/danieleGermani.jpeg" class="about-me">
    <h5 class="ae-u-bolder au-mt-2">{{_infoS.info.name}}</h5>
    <p>{{_infoS.info.industry}} </p>
    <a href="tel:622659825" class="ae-u-bolder au-underline"target="_blank">{{_infoS.info.phone}}</a> <br>
    <a href="mailto:daniele.germani.85@gmail.com" class="ae-u-bolder au-underline"target="_blank">{{_infoS.info.email}}</a>



  </div>
</div>

<div class="ae-grid ae-grid--alt au-xs-ptp-1">
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">About Me</h6>
    <p class="au-lh-3">{{_infoS.info.descripction}}</p>
  <a [href]="_infoS.info.github" target="_blank">Click Here</a>
  </div>
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">Education</h6>
    <p class="au-lh-3">{{_infoS.info.education}}</p>
  </div>
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">Technologies</h6>
    <p class="au-lh-3">{{_infoS.info.technologies}}</p>
    <p class="au-lh-3">{{_infoS.info.technologies2}}</p>
  </div>
</div>

<p class="au-flex au-pt-4 group-buttons"><a routerLink="portfolio" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">View Our Portfolio<span class="arrow-cont">
      <svg>
        <use xlink:href="assets/img/symbols.svg#arrow"></use>
      </svg></span></a></p>
</div>
