<div *ngIf="comic"  class="animated fadeIn">


  <div class="ae-container-fluid">
    <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
      <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
        <h2 class="rk-portfolio-inner-title ">{{comic.series.name}}</h2>
        <h4>{{comic.variantDescription}}</h4>
        <p>Price $:{{comic.prices[0].price}} <a *ngFor="let item of comic.urls"  href="{{item.url }}" target="_blank">More info</a></p>

      </div>

    </div>
  </div>
  <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
        <h4 class="ae-u-bolder">{{comic.title}}</h4>
        <p class="ae-eta">{{comic.description}} </p>
      </div>
      <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="{{comic.thumbnail.path + '/standard_large.' + comic.thumbnail.extension}}" alt=""></div>
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-8 animated fadeIn"><img src="{{comic.thumbnail.path + '/portrait_incredible.' + comic.thumbnail.extension}}" alt=""></div>
      <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">
        <h3>Creators:</h3>
        <ul *ngFor="let item of comic.creators.items"   class="ae-u-bolder">
          <li>{{item.name}} ({{item.role}})</li>
        </ul>

      </div>
    </div>

    <!-- href="{{item.urls[0].url }}" target="_blank" -->
</div>
</div>
