/* ANIMATION */

.animated {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/*
  Color del Loading
*/
svg path,
svg rect{
  fill: black;
}

.about-me{
  width: 400px;
  border-radius: 50%;
}

.item-lg--offset-2 > h4{
  margin-top: 2.2rem;
}
